body{
    background-image: url(../../public/image/screen.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    display: block;
}
.text-center{
    text-align: center;
}
.prm-ct{
    text-align: center;
    font-size: 30px;
    
     
}

.row{
    margin: 120px 0 0 0;
}
.content-ab{
    display: flex;
    flex-direction: row;   
}
.box-ab{
    flex: 60%;
    margin: 0 50px 0 150px;
    background-color: transparent;
    backdrop-filter: blur(3px);
    line-height: 1.5;
}
.pic-ab{
    flex: 40%;
}
h1{
    font-size: 45px;
}
h2 {
    font-size: 40px;
}
h3{
    font-size: 35px;
}
.rules-ab li, .rules-ab p{
    margin: 0 0 10px;
    font-size: 20px;
    text-align: justify;
}



.question-style{
    font-size: 30px !important;
    margin: 10px 0 !important;
}

.boximg-ab{
    display: flex;
    flex-direction: column;
   
  
}
.img-ab > img{
    width: 533px;
    height: 700px;
    object-fit: cover;
}
.img-ab > img:nth-child(2){
    margin-top: 40px;
}


