*{
    padding: 0;
    margin: 0;
}
#constellardetail{
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
body {
    background-image: url(../../public/image/screen.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
.parent-detail{
    display: flex;
    flex-direction: column;
}
.container-detail{
    /* flex-shrink: 0; */
    background-color: transparent;
    backdrop-filter: blur(100px);
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    border: 2px solid white;
    align-items: center;
    align-self: center;
    
}
.up-detail {
    margin-top: 10px;
    width: 950px;
    height: 450px;
    /* background-color: yellow; */
    transition: none 0s ease 0s;
    border: 2px solid white;
}
.up-detail .circle-detail {
    background: white;
    border: 2px solid white;
    border-radius: 50%;
    width: 280px;
    height: 280px;
    position: relative;
    left: 345px;
    top: 60px;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    
}

/* Thông tin bên trái */
.cons-in1 {
    width: 200px;
    height: 28px;
    /* background-color: red; */
    border-bottom: 2px solid white ;
    /* border: 2px solid #000; */
    box-sizing: border-box;
    position: relative;
    left: 71px;
    top: -194px;
}
.cons-in2{
    width: 200px;
    height: 28px;
    border-bottom: 2px solid white ;
    box-sizing: border-box;
    position: relative;
    left: 71px;
    top: -122px;
    transition: none 0s ease 0s;
}
.cons-in3{
    width: 200px;
    height: 28px;
    border-bottom: 2px solid white ;
    box-sizing: border-box;
    position: relative;
    left: 71px;
    top: -49px;
    transition: none 0s ease 0s;
}
/* thông tin bên phải */
.cons-in4{
    width: 200px;
    height: 28px;
    border-bottom: 2px solid white ;
    box-sizing: border-box;
    position: relative;
    left: 698px;
    top: -278px;
    transition: none 0s ease 0s;
}
.cons-in5{
    width: 200px;
    height: 28px;
    border-bottom: 2px solid white ;
    box-sizing: border-box;
    position: relative;
    left: 698px;
    top: -206px;
    transition: none 0s ease 0s;
}
.cons-in6{
    width: 200px;
    height: 28px;
    border-bottom: 2px solid white ;
    box-sizing: border-box;
    position: relative;
    left: 698px;
    top: -134px;
    transition: none 0s ease 0s;
}
h1 {
    text-align: center;
    border: 2px solid white;
    width: 500px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;
    left: 219px;
    top: 39px;
    color: white;
}
h2 {
    text-align: center;
    border: 2px solid white;
    width: 500px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    color: white;
}
.down-detail {
    width: 968px;
    height: 100%;
    min-height: 550px;
    background-size: cover;
    transition: none 0s ease 0s;
    border: 2px solid white;
}
p{
    font-size: 20px;
    color: white;
}
.down-detail p {
    padding: 20px;
}