#post-page{
    height:100vh;
    background-color: #FFFFFF;
    background-image: url(../../public/image/stary.jpg);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.post-banner {
    /* position: fixed;
    top: 0; */
    width: 15%;
    height: 800px;
}
.post-content{
    display: flex;
    flex-direction: row;
    width: 70%;
    background-color: #005FFD;
}
.post-side{
    background-color: #001932;
    flex:80%;
    display: flex;
    flex-direction: column;
    width:80%;
    height: 100%;
}
.side-bar-1{
    width: 20%;
    height: 100%;
    flex:20%;
}
.post-side img{
    object-fit: cover;
    width: 1066px;
    height: 650px;
}
.post-side h1{
    text-align: center;
}
.post-side p,
.post-side h1,
.post-side h2,
.post-side h3,
.post-side h4,
.post-side h5
{
    color: white;
    padding: 0 50px;
    line-break: anywhere;
}